.items {
    max-width: 960px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    ul {
        display: flex;
        flex-flow: column;
        list-style: none;
        width: 100%;
        li.item {
            padding: 1rem;
            border-radius: 4px;
            width: 100%;
            display: flex;
            flex-flow: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            transition: .2s all ease-in-out;
            cursor: pointer;
            &:not(:last-child) {margin-bottom: .5rem;}
            &:nth-child(odd) {background-color: rgba(0,0,255,.025);}
            &:nth-child(even) {background-color: rgba(0,255,0,.025);}

            &:hover {background-color: rgba(0,0,255,.1);}

            .name {padding-right: 1rem; text-overflow: ellipsis;}
            .info {
                display: flex;
                font-size: 70%;
                align-items: center;
                margin-top: .5rem;
                .price {
                    padding-right: 1rem;
                    .strong{font-weight: bold;}
                }
            }
            p.description {
                font-size: 70%;
                margin-top: 1rem;
            }
        }
    }
}


.button-group .btn {
    padding: .5rem;
    border-radius: 4px;
    outline: none;
    inset: unset;
    min-width: 5rem;
    &:not(:last-child) {
        margin-right: 1rem;
    }
    &.edit {background-color: rgba(0,0,255, .1);}

    &.delete {background-color: rgba(255, 0, 0, .1);}
}