
<div class="section products-section">
    <div class="heading">
        All Products
    </div>

    <div class="items">
        <ul>
            <li 
                *ngFor="let product of products" class="item"
                (click)="onProductDetail(product)">
                <div>
                    <span class="name">{{product.Name}}</span>
                </div>
                <div class="info">
                    <span class="price">Price: <strong>{{product.Price | currency}}</strong></span>
                    <span class="category">Category: <strong>{{product.CategoryName}}</strong></span>
                </div>
                <p class="description">{{product.Description}}</p>
                <!-- <div class="button-group">
                    <button class="btn edit">Edit</button>
                    <button class="btn delete">Delete</button>
                </div> -->
            </li>
        </ul>
    </div>
</div>