<div class="section">

    <div *ngIf="!category; else displayBlock">
        <h2 class="heading">No items to show!</h2>
    </div>

    <ng-template #displayBlock>
        <div class="items-wrapper">
            <h2 class="heading">Details of category item</h2>
            <div class="item">
                <div class="image">
                    <img [src]="imagePath" [alt]="category.Name">
                </div>
                <div class="content">
                    <div class="title">
                        <h2 class="title">{{category.Name}} ({{category.Id}})</h2>
                    </div>
                    
                </div>
                <!-- <div class="btn-group">
                    <button (click)="onEdit()">Edit</button>
                    <button (click)="onDelete()">Delete</button>
                </div> -->
            </div>
            <div class="btn-group">
                <button class="btn" [routerLink]="['../']">Back</button>
            </div>
        </div>
    </ng-template>

    
    
</div>