<div class="navbar">
    <nav>
        
        <ul class="left">
            <li>
                <a 
                    routerLink="/home" 
                    routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}">
                    Home
                </a>
            </li>
            <li>
                <a 
                    routerLink="/product" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    Product
                </a>
            </li>
            <li>
                <a 
                    routerLink="/product/category" 
                    routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                    Category
                </a>
            </li>
            
        </ul>
    
        <ul class="right">
            <ng-container *ngIf="!userEmail; else elseBlock">
                <li>
                    <a 
                        routerLink="/register" 
                        routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                        Register
                    </a>
                </li>
                <li>
                    <a 
                        routerLink="/login" 
                        routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                        Login
                    </a>
                </li>
            </ng-container>
    
            <ng-template #elseBlock>
                <li>
                    <a 
                        (click)="onLogoutClicked()">
                        Logout
                    </a>
                </li>
        
                <li 
                    class="user">
                    <span>Welcome {{ userEmail }}</span>
                </li>
            </ng-template>
        </ul>

    </nav>
</div>
