<div class="navbar">
    <nav>
        
        <ul class="left">
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a routerLink="/products" routerLinkActive="active">Products</a>
            </li>
            <li>
                <a routerLink="/categories" routerLinkActive="active">Categories</a>
            </li>
            
        </ul>
    
        <ul class="right">
            <ng-container *ngIf="!userEmail; else elseBlock">
                <li>
                    <a routerLink="/register" routerLinkActive="active">Register</a>
                </li>
                <li>
                    <a routerLink="/login" routerLinkActive="active">Login</a>
                </li>
            </ng-container>
    
            <ng-template #elseBlock>
                <li>
                    <a (click)="onLogoutClicked()">Logout</a>
                </li>
        
                <li 
                    class="user">
                    <span>Welcome {{ userEmail }}</span>
                </li>
            </ng-template>
        </ul>

    </nav>
</div>
