

.btn-group{
    justify-content: center;
    margin-bottom: 1rem;
}

.list-group {
    list-style: none;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    .list-item {
        padding: .5rem;
        text-align: center;
        list-style: none;
        background-color: rgba(0,0,255, .01);
        margin-bottom: .5rem;
        border-radius: 4px;
        cursor: pointer;
        transition: .2s all ease-in-out;
        &:hover {
            background-color: rgba(0,0,255,.1);
        }
    }
}