

<div class="section">
  <div class="btn-group">
    <button [routerLink]="['add']" class="btn">Add New Category</button>
  </div>

  <div *ngIf="!categories; else displayBlock">
      <h2 class="heading">No items to show!</h2>
  </div>
  <ng-template #displayBlock>
      <div class="items-wrapper">
          <h2 class="heading">Category List</h2>
      
          <ul class="list-group">
            <li *ngFor="let item of categories; let idx = index" class="list-item">
          
              <div class="image" [routerLink]="[item.Id]">
                <img [src]="imagePath" [alt]="item.Name" />
              </div>
              <div class="content-wrapper">
                <div class="content" [routerLink]="[item.Id]">
                  <h4 class="title">Name: {{ item.Name }} - ({{ item.Id }})</h4>
                </div>
                <div class="btn-group">
                  <button class="btn" [routerLink]="[item.Id]" >View</button>
                  <button class="btn" (click)="onEdit(item)">Edit</button>
                  <button class="btn" (click)="onDelete(item.Id)">Delete</button>
                </div>
              </div>
      
          </li>
          </ul>
        </div>
  </ng-template>

</div>
