

<div class="section">
  <div class="btn-group">
    <button [routerLink]="['add']" class="btn">Add New Category</button>
  </div>

  <div *ngIf="!categories; else displayBlock">
      <h2 class="heading">No items to show!</h2>
  </div>
  <ng-template #displayBlock>
      <div class="items-wrapper">
          <h2 class="heading">Category List</h2>
      
          <ul class="list-group">
            <li
              [routerLink]="[item.Id]"
              *ngFor="let item of categories; let idx = index"
              class="list-item"
            >

            <div class="image">
              <img [src]="imagePath" [alt]="item.Name">
            </div>
            <div class="content">
              <h4 class="title">Name: {{ item.Name }} - ({{ item.Id }})</h4>
            </div>

            </li>
          </ul>
        </div>
  </ng-template>

</div>
