<div class="section">
  <div class="btn-group">
    <button [routerLink]="['add']" class="btn">Add New Category</button>
  </div>

  <!-- <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of categories">
                <td>{{ item.Id }}</td>
                <td>{{ item.Name }}</td>
            </tr>

        </tbody>
    </table> -->

  <h2 class="heading" *ngIf="!categories">No items to show!</h2>

  <div class="items-wrapper" *ngIf="categories">
    <h2 class="heading">Category List</h2>

    <ul class="list-group">
      <li
        [routerLink]="[item.Id]"
        *ngFor="let item of categories; let idx = index"
        class="list-item"
      >
        {{ item.Id }}: {{ item.Name }}
      </li>
    </ul>
  </div>
</div>
