<div class="section">

    <div *ngIf="!product; else displayBlock">
        <h2 class="heading">No items to show!</h2>
    </div>

    <ng-template #displayBlock>
        <div class="items-wrapper">
            <h2 class="heading">Details of product item</h2>
            <div class="item">
                <div class="image">
                    <img [src]="imagePath" [alt]="product.Name">
                </div>
                <div class="content">
                    <div class="title">
                        <h2 class="title">{{product.Name}} ({{product.Id}})</h2>
                    </div>
                    <div class="meta">
                        <h3 class="price">{{product.Price}}</h3>
                        <!-- <span class="categoryName">{{product.CategoryName}}</span>
                        <span class="categoryId">{{product.CategoryId}}</span> -->
                    </div>
                    <div class="description">
                        <p>{{product.Description}}</p>
                    </div>
                    
                </div>
                <!-- <p class="id"><span class="label">Id:</span> <span>{{ product.Id }}</span></p>
                <p class="name"><span class="label">Name:</span> <span>{{ product.Name }}</span></p>
                <p class="price"><span class="label">Price:</span> <span>{{ product.Price }}</span></p>
                <p class="category"><span class="label">Category:</span> <span>{{ product. CategoryName }}</span></p>
                <p class="description"><span class="label">Description:</span> <span>{{ product.Description }}</span></p> -->
                <!-- <div class="btn-group">
                    <button (click)="onEdit()">Edit</button>
                    <button (click)="onDelete()">Delete</button>
                </div> -->
            </div>
            <div class="btn-group">
                <button class="btn" [routerLink]="['../']">Back</button>
            </div>
        </div>
    </ng-template>

    
    
</div>